
.container {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    height: 100vh;
    width: 100%;
}
  
.left-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;;
    transition: width 0.5s ease;
    overflow-x: hidden;
}

.right-container{
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 15% 75%  10%;

    
}
  
.title-container{
    background-color: #10083f;
    color: aliceblue;
    font-family: 'Jost', sans-serif;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}  

.user-container{
    height:100vh;
    border-right: 2px solid #10083f;
    background-color: rgb(227, 237, 244);
}

.logout-container{
    background-color: #10083f;
    font-family: 'Jost', sans-serif;
    display: flex;
    align-items: center;
    padding-bottom: 16.5px;
    top: 0;
    position: relative;
    width: 100%;
    
}

.chat-container{
    background-color: rgb(227, 237, 244);
}
  
  input:focus {
    border-bottom: 2px solid aliceblue;
    border-radius: 4px 4px 2px 2px;
  }
  
  input:hover {
    outline: 1px solid lightgrey;
  }

  .toggle-btn {
    background-color: aliceblue;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 4px 12px;
  }
  
  .toggle-btn:hover {
    background-color: aliceblue;
  }

  #checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: aliceblue;
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .5s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .3s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .3s;
    transform: rotate(180deg);
  }

  body{
    margin: 0px;
  }

  .logo{
    font-weight: 600;
  }


.messages-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;   
  height: 100%;
  position: relative;
}

.received-message {
  align-self: flex-start;
  background-color:#45a049; 
  color:aliceblue;
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  float: right;
}

.sent-message {
  background-color: #220e9e;
  padding: 15px; 
  margin: 5px;
  border-radius: 8px;
  width: fit-content;
  float: right;
  color: aliceblue;
  align-self: flex-end;
}


.username{
  border-bottom: #000 solid;
}


.input-container {
  position: sticky;
  bottom: 0;
  right: 0;
  padding: 15px;
  background-color: #10083f;
  display: flex;
  align-items: center;
}

.msg-input {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 75%;
}

.send-btn {
  width: 25%; 
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.send-btn:hover {
  background-color: #45a049;
}

.add-user-container {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 23px;
}

.add-user {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-user-btn-container {
  text-align: center;
}

.add-user-btn {
  background-color: #10083f;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-user-btn:hover {
  background-color: #4e419b;
}

.add-user-title {
  text-align: center;
}

.logout-btn {
  background-color: #10083f;
  color: white;
  border: aliceblue solid 0.5px;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: absolute;
  right: 0;
}

.logout-btn:hover {
  background-color: #4e419b;
}


.line{
  border-bottom: #10083f solid;
  margin-top: 15px;
  margin-bottom: 15px;
}

.create-room{
  background-color: #10083f;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 auto;
  display: block;
}

.create-room:hover{
  background-color: #4e419b;
}

.create-room-container{
  text-align: center;
}







