body {
    font-family: Arial, sans-serif;
    background-color: rgb(4, 5, 71);
    padding: 1cm;
}

.login-column,
.signup-column {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
}

.login-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.login-input {
  margin-bottom: 20px;
  text-align: center; /* Center the login inputs */
}

.login {
  width: 60%; /* Set a smaller width for the login inputs */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-btn-container,
.signup-btn-container {
  text-align: center;
}

.login-btn,
.signup-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #45a049;
}

.signup-btn {
  background-color: #2196f3;
}

.signup-btn:hover {
  background-color: #0b7dda;
}

@media (max-width: 600px) {
  .container {
      flex-direction: column;
  }

  .login-column,
  .signup-column {
      width: 100%;
      margin: 10px 0;
  }
}
